$most-dark: #000000;
$more-dark: #191919;
$dark: #313131;
$less-dark: #4d4d4d;
$least-dark: #666666;

$middle: #757575;

$most-light: #ffffff;
$more-light: #dedede;
$light: #c4c4c4;
$less-light: #ababab;
$least-light: #949494;
